<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-md-0">
                <img src="/assets/images/kitti.png" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="block">
                    <h1 class="font-weight-bold mb-4 font-size-60">Hola Mich</h1>
                    <p class="mb-4">Espero que estés muy bien y que hoy sea un excelente día para ti, lee con mucha atención responde con calma, disfruta el recorrido por esta applicación web
                        <br>
                        <strong>Tip: sigue tu corazón</strong>
                    </p>
                    <a class="btn btn-main" href="home#about" role="button">CONTINUAR</a>
                </div>
            </div>
        </div><!-- .row close -->
    </div><!-- .container close -->
</section><!-- header close -->


<!-- 
    Feature start
    ==================== -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="heading">
                    <h2>Variables de la formula</h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/office/40/000000/clock--v1.png"/>
                    <h4 class="font-weight-bold mb-2">Tiempo</h4>
                    <p>El tiempo que compartes con una persona genera fuertes lazos, es la clave importante para conocer a cualquier persona.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-magic-fairytale-wanicon-flat-wanicon.png"/>
                    <h4 class="font-weight-bold mb-2">Magia</h4>
                    <p>Es muy importante ya que puedes conocer a muchas personas en la vida pero es muy difícil encontrar a quien te haga sentir que la magia existe.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/fluency/48/000000/apple-music.png"/>
                    <h4 class="font-weight-bold mb-2">Música</h4>
                    <p>Sin música la vida es simplemente un error y encontrar a alguien con quien compartirla es maravilloso.</p>
                </div>
            </div>
            <div class="col-md-4 text-center align-self-center mb-4 mb-md-0">
                <img class="img-fluid box-shadow" src="/assets/images/mich.jpeg" alt="">
            </div>
            <div class="col-md-4">
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/stickers/100/000000/camera.png"/>
                    <h4 class="font-weight-bold mb-2">Instante</h4>
                    <p>Todo puede pasar en un abrir y cerrar de ojos, puedes conocer a alguien que transforme tu vida.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/external-wanicon-flat-wanicon/64/000000/external-maps-adventure-wanicon-flat-wanicon.png"/>
                    <h4 class="font-weight-bold mb-2">Distancia</h4>
                    <p>La distancia es relativa cuando quieres estar con alguien, puedes estar a kilómetros de distancia pero siempre estará en tu mente y corazón.</p>
                </div>
                <div class="mb-40 text-center text-md-left">
                    <img src="https://img.icons8.com/stickers/50/000000/topic.png"/>
                    <h4 class="font-weight-bold mb-2">Comunicación</h4>
                    <p>Poder hablar es propio del ser humano, pero comunicar, escuchar y transmitir una idea con el fin de crear una relación es algo muy valioso.</p>
                </div>
            </div>
        </div>
    </div><!-- .container close -->
</section><!-- #service close -->

<section class="bg-orange section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid box-shadow" src="/assets/images/michAndme.jpeg" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h2 class="subheading text-white font-weight-bold mb-10">Sé que probablemente te estés preguntando ¿Qué está pasando?</h2>
                    <p class="text-white">Lo que pasa es que conocí a alguien muy especial para mí, alguien que en poco tiempo
                         se convirtió en una persona muy importante para mí, porque tiene muchas cualidades que me han enamorado,
                          es muy empática, es una guerrera y una mujer dificil de igualar.</p>
                    <p class="text-white">Pero hay algo importante y pronto lo sabremos.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="feature-list section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Estefany Michel Cárdenas Sandoval</h2>
                </div>
            </div>

        </div>
        <div class="row mb-40">
            <div class="col-md-6 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="/assets/images/mich2.jpeg" alt="">
            </div>
            <div class="col-md-6 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Existen muchas cosas que adoro de ti</h4>
                    <p>Por ejemplo, amo mirarte a los ojos, amo tu olor, tus abrazos, tu voz, tu cabello, amo estar 
                        cerca de ti, cada vez que pienso en ti pienso en esa carita linda y hermosa que tienes, esa 
                        fuerza que impresiona, en esa hermosa persona de caracter lindo pero fuerte, impulsiva, eres 
                        perfecta, tienes un gran pero gran potencial tan grande como el corazon, veo una chica inteligente, 
                        valiente, que da todo sin pedir nada a cambio , veo a alguien que respeta, que sabe amar, 
                        veo a alguien con quien quiero vivir muchas historias y experiencias</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
                <div class="content">
                    <h4 class="subheading">Desde el primer día que te vi me gustaste</h4>
                    <p>LMe encantó nuestra primera charla, bailar contigo ese día cambió mucho mi vida, recibir tus mensajes 
                        todos los días es algo maravilloso, todos los días me enamoras, y sabes cómo llegar a mí, te estoy 
                        muy agradecida porque Puedo ser quien realmente soy, puedo ser romántico, puedo ser cariñoso, contigo 
                        me siento cómodo, me siento tranquilo, me siento feliz, no encuentro las palabras para decirte cuánto 
                        ha cambiado mi concepto del amor y ha sido muy bonito, pero lo que si se es que siento algo sumamente 
                        fuerte por ti, que te quiero a ti y solo a ti, has hecho cosas muy especiales que me han enamorado, 
                        como esa notita que me diste, me siento tan afortunada tenerte en mi vida y que me dejes estar en la tuya.</p>
                </div>
            </div>
            <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
                <img class="img-fluid" src="/assets/images/pulque.jpeg" alt="">
            </div>
        </div>
    </div>
</section>


<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h2>Quiero muchas historias lindas contigo amor</h2>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="call-to-action section bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 text-center mx-auto">
                <h2 class="subheading text-white">Ahora viene la parte más interesante</h2>
                <p class="text-white">Quieres contiunar?</p>
                <a class="btn btn-main btn-submit" href="/say_yes">SI!</a>
            </div>
        </div>
    </div>
</section>