.gradient-custom {
    /* fallback for old browsers */
    background: #782f4b;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(239, 71, 111, 1), rgba(246, 163, 182, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(239, 71, 111, 1), rgba(246, 163, 182, 1))
  }